.box { width:800px; margin:0 auto; }
.box .a { height:200px; background:red; }
.box .b { float:left; width:50%; height:200px; background:tomato; }
.box .c { float:left; width:50%; height:200px; background:orange; }