body { background:rgba(0, 0, 0, .2); }

header { position:absolute; left:50%; top:0; z-index:100; width:1280px; transform:translateX(-50%); }
header h1 { float:left; padding:85px 0 0; font-size:0; }
header nav { position:absolute; left:50%; top:66px; transform:translateX(-50%); }
header nav li { float:left; }
header nav li a { display:block; padding:25px; line-height:1; color:#fff; }
header > div { float:right; padding:83px 0 0; font-size:0; } /* font-size:0하면 화면 낭독기가 읽지 않는다 */
header > div span { font-size:12px; }
header > div > * { margin-left:3px; vertical-align:middle; }
header > div a { display:inline-block; width:36px; height:29px; background:#333; border:1px solid #777; }
header > div a.join { background:url("../images/ico_lock.png") no-repeat center #333; }
header > div a.mypage { background:url("../images/ico_user.png") no-repeat center #333; }
header >  div button.menu { display:none; }
header >  div button.search { width:36px; height:31px; background:url("../images/ico_search.png") no-repeat center #007ddd / 15px auto; }

.visual .bg1 { position:relative; height:696px; background:url("../images/img_visual.jpg") no-repeat center top / cover; } /* css로 이미지는 관리자만 */
.visual .bg1 > div { position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); text-align:center; color:rgba(255, 255, 255, .8); }
.visual .bg1 > div h3 { font-size:65px; letter-spacing:-0.23px; line-height:1; text-transform:uppercase; }
.visual .bg1 > div span { display:block; padding:32px 0 26px; font-size:28px; line-height:1; }
.visual .bg1 > div p { padding:0 0 38px; font-size:18px; line-height:25px; letter-spacing:-0.46; }
.visual .bg1 > div a { display:inline-block; padding:0 24px 0 22px; height:42px; background:rgba(0, 161, 255, .6); font-size:13px; color:#fff; line-height:42px; border-radius:42px; }
.visual .bg1 > div a:after { content:""; display:inline-block; margin:0 0 0 10px; width:5px; height:10px; background:url("../images/bu_arrow_right.png") no-repeat center / 100% auto; }
.visual .controls { width:1280px; position:absolute; left:50%; top:321px; transform:translateX(-50%); }
.visual .controls button { width:53px; height:53px; background:no-repeat transparent center; }
.visual .controls button:first-child { float:left; background-image:url("../images/btn_prev.png"); }
.visual .controls button:last-child { float:right; background-image:url("../images/btn_next.png"); }
