@charset "utf-8";
.btn { position:absolute; left:50%; transform:translateX(-50%); border:2px solid #ddd; border-radius:1px; }
.btn a { display:block; padding:.3125rem .8125rem; font-size:.625rem; font-weight:900; text-decoration:none; } /* padding:25px 65px; font-size:50px; */