html { font-size:20px; }
body { font-size:1rem; }

.layout { padding:0 .75rem; max-width:100%; }
.is_pc { display:none; }
.is_mobile { display:block; }

/* header */
header { height:2.5rem; }
h1 a { width:4.15rem; height:1rem; }
h1 a:last-child { margin-left:.75rem; width:4.1rem; }

/* mobile menu */
.mobile_menu__open { position:absolute; top:.3rem; right:0; width:2.05rem; height:1.8rem; background:url("../images/ico_menu.png") no-repeat center / 1.25rem auto; }
.mobile_menu--box { position:absolute; top:0; right:0; bottom:0; left:0; z-index:100; width:100%; height:100vh; background:rgba(0, 0, 0, .5); color:#333; }
.mobile_menu--box > div { position:absolute; right:0; top:0; bottom:0; width:80%; background:#fff;  }
.mobile_member { margin:2.5rem 0 0 0; padding:.75rem 0; font-size:.7rem; text-align:center; }
.mobile_member a { display:inline-block; padding:.4rem 0; width:48%; border:1px solid #a4a4a4; border-radius:.15rem; }
.mobile_gnb { border-top:1px solid #d9d9d9; }
.mobile_gnb > li > a { display:block; padding:.75rem 0; border-bottom:1px solid #d9d9d9; background:url("../images/ico_arr_off.png") no-repeat right center / .7rem; font-size:.95rem; font-weight:700; }
.mobile__sub--list2 { display:none; padding:.75rem .85rem; border-bottom:1px solid #d9d9d9; background:#f7f7f7; }
.mobile__sub--list2 li:nth-child(even) { margin:.75rem 0; }
.mobile__sub--list2 li a { display:block; font-size:.7rem; font-weight:400; }
/* on */
.mobile_gnb .on > a { background-image:url("../images/ico_arr_on.png"); }
.mobile_gnb .on .mobile__sub--list2 { display:block; }
/* //on */
.mobile_sns_news { display:flex; margin:1rem 0 0 0; }
.mobile_sns_news dd:nth-child(n+1) { margin:0 0 0 .5rem; }
.mobile_sns_news dd a { display:block; width:1.65rem; height:1.65rem; background:url("../images/ico_news_facebook.png") no-repeat center / 100% auto; }
.mobile_sns_news dd:nth-child(3) a { background-image:url("../images/ico_news_naver.png"); }
.mobile_sns_news dd:nth-child(4) a { background-image:url("../images/ico_news_youtube.png"); }
.mobile_sns_news dd:nth-child(5) a { background-image:url("../images/ico_news_instargram.png"); }

.mobile_menu__close { position:absolute; left:0; right:0; top:0; height:2.5rem; background:#3f69b8; }
.mobile_menu__close button { position:absolute; right:0; top:0; width:2.5rem; height:2.5rem; background:url("../images/ico_close.png") no-repeat center / 1rem; }
/* //mobile menu */

.search { top:.3rem; right:2.2rem; }
.search__open { width:1.8rem; height:1.8rem; background-size:1rem auto; }
.search__form { display:none; top:2.5rem; padding:1rem 0; }
.search__keyword ul { margin:0 .85rem; height:1.6rem; }
.search__keyword a { display:block; padding:.4rem .5rem;border-radius:.25rem; font-size:.6rem; transition:0; }
.search__keyword a:hover,
.search__keyword a:focus { border-color:rgba(255, 255, 255, .4); background:transparent; font-weight:400; }
.search__keyword--controls button { top:0; width:1.1rem; height:1.6rem; background-position:left; background-size:.35rem .6rem; }
.search__keyword--controls button:first-child { left:.75rem; }
.search__keyword--controls button:last-child { right:.75rem; background-position:right; }
.search__form label + div { position:static; left:0; top:0; transform:none; width:100%; height:2.2rem; }
.search__form input { padding:0 0 0 .5rem; font-size:.7rem; }
.search__form input::-webkit-input-placeholder { font-size:.7rem; }
.search__form button[type="submit"] { float:right; width:10%; height:2.2rem; background-size:1rem auto; }



/* gnb */
.gnb { position:absolute; top:2.5rem; height:2rem; }
.gnb h2 + ul { font-size:.75rem; font-weight:400; }
.gnb h2 + ul li { position:relative; margin:0 1.5rem 0 0; }
.gnb h2 + ul li::after { display:none; }
.gnb h2 + ul a { display:block; padding:.55rem 0; transition:0; }
.gnb h2 + ul a:hover,
.gnb h2 + ul a:focus { color:#333; }
.gnb h2 + ul .active a { font-weight:700; color:#288bcc; }
.gnb h2 + ul .active a:after { content:""; position:absolute; left:0; right:0; bottom:-1px; height:2px; background:#3f69b8; }
/* //gnb */

/* 41*36 */