.wrap { width: 100%; }
.layout { position:relative; box-sizing:border-box; padding:0 15px; margin:0 auto; max-width:1200px; }
/* .is_mobile { display:none; } */

/* header */
header { position:fixed; left:0; right:0; top:0; z-index:100; box-sizing:border-box; height:100px; border-bottom:1px solid #ededed; background:#fff; }
header > section { display:flex; align-items:center; height:100%; }
h1 { flex-grow:1; font-size:0; }
h1 a { display:inline-block; width:140px; height:34px; background:url("../images/h1_logo.png") no-repeat center / 100% auto; font-size:10px; }
h1 a:last-child { margin-left:30px; width:138px; background-image:url("../images/h1_logo_sub.png"); }
.member, .search { position:absolute; bottom:-50px; }
.member {  right:60px; font-size:0; color:#666; text-align:left; }
.member a { display:inline-block; padding:10px; font-size:16px; font-weight:400; }
.member a:first-child::after { content:""; display:inline-block; margin:0 -9px 0 11px; width:1px; height:10px; background:#ededed; }
.search { right:0; }
.search__open { width:40px; height:40px; background:url("../images/ico_search_blue.png") no-repeat center / 26px auto; }
.search__form { position:fixed; left:0; right:0; top:160px; padding:40px 0 140px; width:100%; background:linear-gradient(to right, #288bcc 0%,#165fa2 100%); }
.search__keyword ul { overflow:hidden; margin:0 30px; height:41px; }
.search__keyword li { float:left; margin:0 2px; }
.search__keyword a { display:block; padding:10px 22px; border:1px solid rgba(255, 255, 255, .4); border-radius:5px; font-size:16px; color:#fff; transition:all .3s ease; }
.search__keyword a:hover,
.search__keyword a:focus { border-color:#55b9fe; background:#55b9fe; font-weight:700; }
.search__keyword--controls button { position:absolute; top:10px; width:12px; height:18px; background:url("../images/ico_prev.png") no-repeat center / 100% auto; }
.search__keyword--controls button:first-child { left:15px; }
.search__keyword--controls button:last-child { right:15px; background-image:url("../images/ico_next.png"); }
.search__form label + div { position:absolute; left:50%; top:35px; transform:translateX(-50%); width:460px; height:80px; border-bottom:1px solid rgba(255, 255, 255, .4); }
.search__form input { float:left; padding:0 0 0 10px; width:90%; height:100%; border:0 none; background:transparent; font-size:23px; color:#fff; outline:none; }
.search__form input::-webkit-input-placeholder { font-size:23px; color:rgba(255, 255, 255, .4); }
.search__form button[type="submit"] { float:right; width:10%; height:100%; background:url("../images/ico_search_white.png") no-repeat center / 40px auto; }
.screen_adjust, .sns_news { display:flex; }
.screen_adjust dt { margin:8px 10px 0 0; font-size:16px; font-weight:700; color:#333; }
.screen_adjust dd { margin:0 0 0 4px; }
.screen_adjust dd button { width:36px; height:36px; border:1px solid #ededed; border-radius:50%; background:url("../images/ico_zoom.png") #fff no-repeat center / 12px auto; }
.screen_adjust dd:nth-child(3) button { background-image:url("../images/ico_reduction.png"); }
.screen_adjust dd button.reset { width:90px; border-radius:30px; font-size:15px; font-weight:700; color:#288bcc; background-image:none; }
.screen_adjust::after { content:""; display:block; margin:3px 10px 0 20px; width:1px; height:30px; background:#ededed; }
.sns_news dd { margin:0 0 0 10px; }
.sns_news dd a { display:block; width:46px; height:46px; background:url("../images/ico_news_facebook.png") no-repeat center / 100% auto; }
.sns_news dd:nth-child(3) a { background-image:url("../images/ico_news_naver.png"); }
.sns_news dd:nth-child(4) a { background-image:url("../images/ico_news_youtube.png"); }
.sns_news dd:nth-child(5) a { background-image:url("../images/ico_news_instargram.png"); }
/* //header */

/* gnb */
.gnb { position:fixed; left:0; top:100px; right:0; z-index:90; box-sizing:border-box; height:60px; border-bottom:1px solid #ededed; background:#fff; color:#333; }
.gnb h2 + ul { display:flex; font-size:22px; font-weight:800; color:#333; }
.gnb h2 + ul li { display:flex; }
.gnb h2 + ul li::after { content:""; margin:23px 0 0; width:1px; height:12px; background:#ededed; }
.gnb h2 + ul li:last-child::after { display:none; }
.gnb h2 + ul a { display:block; padding:17px 40px; transition:all .3s ease; }
.gnb h2 + ul a:hover,
.gnb h2 + ul a:focus { color:#288bcc; }
.gnb__sub { position:fixed; left:0; top:160px; right:0; box-sizing:border-box; padding:40px 0 20px; border-bottom:1px solid #ededed; background:#fff; font-size:17px; color:#666; }
.gnb__sub::after { content:""; display:none; position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, .5) }
.gnb__sub h3 + ul { display:flex; }
.gnb__sub .gnb__sub--list2:nth-child(1) { margin:0 0 0 40px;}
.gnb__sub .gnb__sub--list2:nth-child(2) { margin:0 0 0 33px;}
.gnb__sub .gnb__sub--list2:nth-child(3) { margin:0 0 0 115px;}
.gnb__sub .gnb__sub--list2:nth-child(4) { margin:0 0 0 33px;}
.gnb__sub .gnb__sub--list2:nth-child(5) { margin:0 0 0 59px;}
.gnb__sub .gnb__sub--list2 li { margin:0 0 20px; }
.gnb__sub .gnb__sub--list2 a { display:block; color:#666; transition:all .3s ease; }
.gnb__sub .gnb__sub--list2 a:hover,
.gnb__sub .gnb__sub--list2 a:focus { color:#288bcc; text-decoration:underline; }
/* //gnb */
/* main */
/* main { height:1600px; background:#dddddd; }
main div { height:500px; background:#555555; } */
/* //main */