.wrap { width: 100%; }
.layout { position:relative; box-sizing:border-box; padding:0 15px; margin:0 auto; max-width:1200px; }
.is_mobile { display:none; }

/* header */
header { position:fixed; left:0; right:0; top:0; z-index:100; box-sizing:border-box; height:100px; border-bottom:1px solid #ededed; background:#fff; }
header > section { display:flex; align-items:center; height:100%; }
h1 { flex-grow:1; font-size:0; }
h1 a { display:inline-block; width:140px; height:34px; background:url("../images/h1_logo.png") no-repeat center / 100% auto; font-size:10px; }
h1 a:last-child { margin-left:30px; width:138px; background-image:url("../images/h1_logo_sub.png"); }
.member, .search { position:absolute; bottom:-50px; }
.member {  right:60px; font-size:0; color:#666; text-align:left; }
.member a { display:inline-block; padding:10px; font-size:16px; font-weight:400; }
.member a:first-child::after { content:""; display:inline-block; margin:0 -9px 0 11px; width:1px; height:10px; background:#ededed; }
.search { right:0; }
.search__open { margin:0 15px 0 0; width:40px; height:40px; background:url("../images/ico_search_blue.png") no-repeat center / 26px auto; }
.search__form { display:none; position:fixed; left:0; right:0; top:160px; padding:40px 0 140px; width:100%; background:linear-gradient(to right, #288bcc 0%,#165fa2 100%); }
.search__keyword ul { overflow:hidden; margin:0 30px; height:41px; }
.search__keyword li { float:left; margin:0 2px; }
.search__keyword a { display:block; padding:10px 22px; border:1px solid rgba(255, 255, 255, .4); border-radius:5px; font-size:16px; color:#fff; transition:all .3s ease; }
.search__keyword a:hover,
.search__keyword a:focus { border-color:#55b9fe; background:#55b9fe; font-weight:700; }
.search__keyword--controls button { position:absolute; top:0; width:30px; height:41px; background:url("../images/ico_prev.png") no-repeat center / 12px auto; }
.search__keyword--controls button:first-child { left:15px; }
.search__keyword--controls button:last-child { right:15px; background-image:url("../images/ico_next.png"); }
.search__form label + div { position:absolute; left:50%; top:35px; transform:translateX(-50%); width:460px; height:80px; border-bottom:1px solid rgba(255, 255, 255, .4); }
.search__form input { float:left; padding:0 0 0 10px; width:90%; height:100%; border:0 none; background:transparent; font-size:23px; color:#fff; outline:none; }
.search__form input::-webkit-input-placeholder { font-size:23px; color:rgba(255, 255, 255, .4); }
.search__form button[type="submit"] { float:right; width:10%; height:100%; background:url("../images/ico_search_white.png") no-repeat center / 40px auto; }
.screen_adjust, .sns_news { display:flex; }
.screen_adjust dt { margin:8px 10px 0 0; font-size:16px; font-weight:700; color:#333; }
.screen_adjust dd { margin:0 0 0 4px; }
.screen_adjust dd button { width:36px; height:36px; border:1px solid #ededed; border-radius:50%; background:url("../images/ico_zoom.png") #fff no-repeat center / 12px auto; }
.screen_adjust dd:nth-child(3) button { background-image:url("../images/ico_reduction.png"); }
.screen_adjust dd button.reset { width:90px; border-radius:30px; font-size:15px; font-weight:700; color:#288bcc; background-image:none; }
.screen_adjust::after { content:""; display:block; margin:3px 10px 0 20px; width:1px; height:30px; background:#ededed; }
.sns_news dd { margin:0 0 0 10px; }
.sns_news dd a { display:block; width:46px; height:46px; background:url("../images/ico_news_facebook.png") no-repeat center / 100% auto; }
.sns_news dd:nth-child(3) a { background-image:url("../images/ico_news_naver.png"); }
.sns_news dd:nth-child(4) a { background-image:url("../images/ico_news_youtube.png"); }
.sns_news dd:nth-child(5) a { background-image:url("../images/ico_news_instargram.png"); }
/* //header */
/* gnb */
.gnb { position:fixed; left:0; top:100px; right:0; z-index:90; box-sizing:border-box; height:60px; border-bottom:1px solid #ededed; background:#fff; color:#333; }
.gnb h2 + ul { display:flex; font-size:22px; font-weight:800; color:#333; }
.gnb h2 + ul li { display:flex; }
.gnb h2 + ul li:not(:last-child)::after { content:""; margin:23px 0 0; width:1px; height:12px; background:#ededed; }
.gnb h2 + ul a { display:block; padding:17px 40px; transition:all .3s ease; }
.gnb h2 + ul a:hover,
.gnb h2 + ul a:focus { color:#288bcc; }
.gnb__sub { display:none; position:fixed; left:0; top:160px; right:0; box-sizing:border-box; padding:40px 0 20px; border-bottom:1px solid #ededed; background:#fff; font-size:17px; color:#666; }
.gnb__sub::after { content:""; display:none; position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, .5) }
.gnb__sub h3 + ul { display:flex; }
.gnb__sub .gnb__sub--list2:nth-child(1) { margin:0 0 0 40px;}
.gnb__sub .gnb__sub--list2:nth-child(2) { margin:0 0 0 33px;}
.gnb__sub .gnb__sub--list2:nth-child(3) { margin:0 0 0 115px;}
.gnb__sub .gnb__sub--list2:nth-child(4) { margin:0 0 0 33px;}
.gnb__sub .gnb__sub--list2:nth-child(5) { margin:0 0 0 59px;}
.gnb__sub .gnb__sub--list2 li { margin:0 0 20px; }
.gnb__sub .gnb__sub--list2 a { display:block; color:#666; transition:all .3s ease; }
.gnb__sub .gnb__sub--list2 a:hover,
.gnb__sub .gnb__sub--list2 a:focus { color:#288bcc; text-decoration:underline; }
.gnb .dim { display:none; position:fixed; left:0; top:421px; right:0; bottom:0; background:rgba(0, 0, 0, .5); }
/* //gnb */
/* main */
main { margin:160px 0 0; } 
.location { display:flex; font-size:17px; border-bottom:1px solid #ededed; background:#fff; }
.location li { display:flex; }
.location li:not(:last-child)::after { content:""; margin:25px 15px 0; width:1px; height:12px; background:#ededed; }
.location li.active { font-weight:700; color:#288bcc; }
.location li a { display:block; line-height:60px; }
.share { display:flex; position:absolute; top:14px; right:15px; }
.share dt { display:flex; align-items:center; font-size:16px; font-weight:700; color:#666; }
.share dd { margin:0 0 0 10px; }
.share dd button { width:32px; height:32px; background:url("../images/ico_share_kakao.png") no-repeat center / 100% auto; }
.share dd:nth-of-type(2) button { background-image:url("../images/ico_share_facefook.png"); }
.share dd:nth-of-type(3) button { background-image:url("../images/ico_share_twitter.png"); }
.share dd:nth-of-type(4) button { background-image:url("../images/ico_share_share.png"); }
.contents--title { margin:46px 0 30px; font-size:34px; color:#333; }
.tabs { border-bottom:2px solid #333; }
.tabs button { display:none; }
.tabs ul { display:flex; }
.tabs li { width:200px; font-size:18px; color:#333; }
.tabs li:not(:last-child) { margin:0 2px 0 0; }
.tabs li a { display:flex; justify-content:center; line-height:51px; background:#f3f3f3; }
.tabs li.active a { font-weight:700; color:#fff; background:#3f69b8; }
.goods { position:relative; padding:35px 20px; border-bottom:1px solid #ededed; }
.goods p { font-size:18px; }
.goods p > strong { margin:0 10px 0 0; color:#333; }
.goods p .ico { display:inline-block; padding:4px 7px 2px; margin:0 2px 0 0; border-radius:2px; font-size:13px; font-family:Gulim, "굴림", sans-serif; color:#fff; }
.goods p .ico_recommend { background:#55b9fe; }
.goods p .ico_popular { background:#f30000; }
.goods p .ico_new { background:#ffab33; }
.goods h4 { margin:20px 0 18px; font-size:26px; color:#333; }
.goods h4 + p { margin:0 0 15px; font-size:18px; }
.goods ul { display:flex; font-size:16px; color:#7b8ba9; }
.goods li { display:flex; }
.goods li a { color:#55b9fe; }
.goods li:not(:last-child)::after { content:""; margin:3px 10px 0; width:1px; height:12px; background:#ededed; }
.goods--btn { position:absolute; top:50%; right:0; margin:-23px 0 0; height:46px; font-size:0; text-align:center; }
.goods--btn a { display:inline-block; margin:0 0 0 5px; width:100px; height:100%; border:1px solid #b4b4b4; border-radius:5px; background:#fff; font-size:16px; font-weight:700; line-height:46px; color:#333; }
.goods--btn a:first-child { background:#288bcc; border:1px solid #288bcc; color:#fff; }
.goods--btn a:last-child { position:relative; width:46px; color:#fff; }
.goods--btn a:last-child::before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:14px; height:13px; background:url("../images/ico_keep.png") no-repeat center / 100% auto; }
.paginate { padding:40px 0; margin:0 -3px 0 0; text-align:center; font-size:0; font-weight:700; font-family:'Open Sans', sans-serif; }
.paginate a { display:inline-block; margin:0 3px 0 0; width:40px; height:40px; font-size:17px; line-height:40px; }
.paginate a.ico { background:#fafafa url("../images/btn_page_first.png") no-repeat center / auto 11px; color:transparent; }
.paginate a.ico.prev { margin:0 10px 0 0; background-image:url("../images/btn_page_prev.png"); }
.paginate a.ico.next { margin:0 3px 0 7px; background-image:url("../images/btn_page_next.png"); }
.paginate a.ico.last { background-image:url("../images/btn_page_last.png"); }
.paginate a.on { background:#55b9fe; color:#fff; }
.paginate a:not(.on):hover { background-color:#fafafa; }
.costomer { padding:40px 40px 50px; margin:40px 0 0; width:100%; border:1px solid #aec6f1; box-sizing:border-box; color:#333; }
.costomer h4 { float:left; font-size:26px; }
.costomer h4 span:first-child { color:#3f69b8; }
.costomer h4 span:last-child { color:#8a76b4; }
.costomer h4 + p { display:inline-block; float:left; margin:6px 0 0 10px; font-size:16px; color:#666; }
.costomer__form { font-size:17px; font-weight:700; }
.costomer__form input,
.costomer__form select,
.costomer__form textarea { height:50px; border:1px solid #ddd; border-radius:5px; box-sizing:border-box; background:#fafafa; font-size:17px; transition:all .3s; }
.costomer__form input:focus,
.costomer__form select:focus,
.costomer__form textarea:focus { border:2px solid #4873c2; background:#fff; outline:none; }
.costomer .box { display:flex; position:relative; margin:30px 0; }
.costomer__number { display:flex; margin:0 30px 0 0; width:calc(100% - 700px); text-align:center; }
.costomer__number label { flex:0 0 50px; margin:0 10px 0 0; line-height:50px; }
.costomer__number select,
.costomer__number input { padding:0 0 0 21px; width:30%; }
.costomer__number span { width:5%; }
.costomer__inquiry { display:flex; margin:0 10px 0 0; width:530px; }
.costomer__inquiry label { flex:0 0 65px; margin:0 10px 0 0; line-height:50px; }
.costomer__inquiry textarea { padding:13px 10px; resize:none; }
.costomer__inquiry textarea::placeholder { font-size:17px; letter-spacing:-2px; word-spacing:-5px; color:#a9a9a9; }
.costomer__clause { position:absolute; left:0; top:80px; font-size:16px; font-weight:400; line-height:1; }
.costomer__clause label { position:relative; padding:0 0 0 35px; margin:0 20px 0 0; cursor:pointer; }
.costomer__clause label:before { content:""; position:absolute; left:0; top:-3px; width:29px; height:25px; background:url("../images/chk.png") no-repeat center / 100% auto; }
.costomer__clause input:checked + label:before { background-image:url("../images/chk_on.png"); }
.costomer__clause input[type="checkbox"] { position:absolute; left:0; top:0; width:0; height:0; margin:0; opacity:0; }
.costomer__clause button { background:#fff; font-size:15px; color:#888; text-decoration:underline; }
.costomer__popup { display:none; position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); z-index:200; padding:40px; width:960px; border-radius:10px; box-sizing:border-box; background:#fff; }
.costomer__popup + .dim { display:none; position:fixed; left:0; top:0; right:0; bottom:0; z-index:190; background:rgba(0, 0, 0, .5); }
.costomer__popup h2 { font-size:26px; padding:0 0 25px; }
.costomer__popup h2 + div { overflow:auto; padding:30px; height:321px; border:1px solid #e3e3e3; box-sizing:border-box; font-size:16px; line-height:28px; word-break:keep-all; color:#666; }
.costomer__popup h3 { margin:40px 0 20px; font-size:18px; font-weight:600; color:#444; }
.costomer__popup p { margin:8px 0; }
.costomer__popup ol li { margin:0 0 0 18px; text-indent:-18px; }
.costomer__popup table { border-left:1px solid #ddd; box-shadow:0px -2px 0px 0px #666; text-align:center; text-indent:0; }
.costomer__popup table th { padding:10px 0; border-right:1px solid #ddd; border-bottom:1px solid #ddd; background:#f2f2f2; }
.costomer__popup table td { padding:5px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; }
.costomer__popup .btn__close { position:absolute; right:40px; top:40px; width:22px; height:22px; background:url("../images/pop_close.png") no-repeat center; }
.costomer button[type="submit"] { width:130px; height:50px; border-radius:5px; font-size:16px; font-weight:700; background:#288bcc; color:#fff; }
.costomer button[type="submit"] span { padding:0 35px 0 0; background:url("../images/icon_arr.png") no-repeat  70px center; }
.partners ul { display:flex; justify-content:space-around; margin:40px 0; }
.partners li { border:1px solid #e3e3e3; }
/* //main */
/* footer */
footer { padding:60px 0; background:#f5f5f5; }
.footer__top { display:flex; justify-content:space-between; padding:0 0 20px; border-bottom:1px solid #ededed; }
.footer__logo { display:inline-block; margin:7px 0 0; width:130px; height:32px; background:url("../images/h1_logo.png") no-repeat center / 100% auto; }
.footer__util { display:flex; font-size:17px; color:#222; }
.footer__util li { display:flex; align-items:center; }
.footer__util li:not(:last-child)::after { content:""; margin:0 15px; width:1px; height:12px; background:#ededed; }
.footer__tabs { position:relative; font-size:15px; color:#333; text-align:center; line-height:44px; }
.footer__tabs button { padding:0 23px; width:230px; height:44px; border:1px solid #c4c4c4; background:#fff; font-size:15px; color:#333; text-align:left; transform:rotate(0deg); }
.footer__tabs button:after { content:""; position:absolute; top:18px; right:25px; width:10px; height:5px; background:url("../images/icon_select.png") no-repeat center / 100% auto; transform:rotate(0deg); transition:all .2s; }
.footer__tabs button.on:after { transform:rotate(180deg); }
.footer__tabs ul { overflow:auto; display:none; position:absolute; left:0; top:44px; right:0; height:135px; border-left:1px solid #c4c4c4; border-right:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; background:#fff; text-align:left; }
.footer__tabs li:not(:last-child) { border-bottom:1px solid #c4c4c4; }
.footer__tabs li a { display:block; padding:0 0 0 23px; }
.footer__bottom { display:flex; justify-content:space-between; padding:30px 0 0; }
.footer__bottom .sns_news { order:2; }
.footer__letter--open,
.footer__letter--close { position:fixed; right:60px; bottom:60px; width:66px; height:66px; border-radius:50%; background:#ffab33; font-size:15px; font-weight:700; color:#fff; letter-spacing:-1px; }
.footer__letter--popup { overflow:hidden; display:none; position:fixed; right:60px; bottom:150px; width:532px; box-sizing:border-box; box-shadow:0px 10px 36px rgba(0, 0, 0, .36); border-radius:10px; background:#e9e8e4 url("../images/bg_popup.jpg") no-repeat center top; }
.footer__letter--popup > div { padding:40px 30px 0; }
.footer__letter--popup > div h5 { font-size:26px; color:#333; }
.footer__letter--popup > div h5 span { color:#3f69b8; }
.footer__letter--popup > div h5 + p { font-size:16px; margin:15px 0 0; }
.letter__form div { display:flex; padding:60px 15px 15px; }
.letter__form div > input,
.letter__form div > span,
.letter__form div > select { height:40px; box-sizing:border-box; font-size:16px; line-height:40px; }
.letter__form div > input { padding:0 20px; }
.letter__form div > span { flex:0 0 32px; text-align:center; }
.letter__form div > select { padding:0 0 0 20px; margin:0 0 0 5px; }
.letter__form p { font-size:16px; color:#333; }
.letter__form p > label { position:relative; padding:0 0 0 50px; margin:0 20px 0 0; cursor:pointer; }
.letter__form p > label:before { content:""; position:absolute; left:16px; top:-3px; width:29px; height:25px; background:url("../images/chk.png") no-repeat center / 100% auto; }
.letter__form p > input:checked + label:before { background-image:url("../images/chk_on.png"); }
.letter__form p > input[type="checkbox"] { position:absolute; left:0; top:0; width:0; height:0; margin:0; opacity:0; }
.letter__form p > button { background:transparent; font-size:15px; color:#888; text-decoration:underline; }
.letter__form button[type="submit"] { margin:20px 0 0; width:100%; height:60px; background:#1c78b4; font-size:18px; font-weight:700; color:#fff; line-height:60px; }
.letter__form button[type="submit"]:hover,
.letter__form button[type="submit"]:focus { background:#288bcc; }
.footer__letter--close { display:none; background:#ffab33 url("../images/btn_close.png") no-repeat center / 17px auto; }
.footere__copy { display:flex; align-items:center; order:1; font-size:16px; line-height:22px; color:#a0a0a0; }
/* //footer */