html { font-size:20px; }
body { font-size:1rem; }

/* 헤더영역 */
header { margin:0; width:100%; }
header h1 { margin:2.3rem 0 0 2.75rem; }
header nav { display:none; }
header button { display:block; float:right; margin:1.85rem 2rem 0 0; width:3.5rem; height:3.5rem; background:url("../images/ico_menu.png") #201c1b no-repeat center; }

/* 메인영역 */
.visual { height:34.15rem; }
.visual .deco1 { position:absolute; left:50%; top:30%; transform:translateX(-50%); margin:0; width:23.6rem; height:23.65rem; } /* .visual .deco1 마진보다는 position으로 가는게 좀더 정확해요 */
.visual .deco1 img:first-child { width:5.75rem; }
.visual .deco1 img:last-child { width:7.85rem; }
.visual .txt { width:15.05rem; height:15.65rem; outline-offset:4px; }
.visual .txt .inner { padding:1.75rem 0 0 3.15rem; }
.visual .txt span:nth-child(1) { width:2.4rem; font-size:3.05rem; }
.visual .txt span:nth-child(2) { margin:0 .5rem 0 1rem; width:1.7rem; font-size:1.8rem; }
.visual .txt span.small { margin:0 .35rem; width:.75rem; font-size:.8rem; }
.visual .deco2 img:nth-child(1) { left:-7.8rem; bottom:-6.2rem; width:21.85rem; }
.visual .deco2 img:nth-child(2) { display:none;}
.visual .deco2 img:nth-child(3) { right:-8.35rem; bottom:11.25rem; width:9.3rem; }
.visual .deco2 img:nth-child(4) { right:-10.65rem; top:-4.65rem; width:21.2rem; }

.noodle:after { bottom:-4.6rem; width:20rem; height:6.8rem; background-size:100% auto; }
.noodle h2 { padding:10rem 0 2.2rem 0; background-position:center 3.5rem; background-size:4.15rem auto; font-size:1.8rem; color:#fff; }
.noodle p { padding:0 1rem; margin:0 auto; font-size:.7rem; line-height:.9rem; } /* .noodle p 가로사이즈 제거, .noodle p 좌우패딩으로 전환 */
.noodle p br { display:none; }
.noodle ul { display:flex; flex-direction:row; padding:2.5rem 5% 15%; }
.noodle li { flex-grow:1; margin:0; font-size:1rem; } /* .noodle li 좌우 여백을 좀더 줄여보세요~~ 아니면 flex를 사용해보세요 */
.noodle li a { margin:0 auto; width:2.65rem; height:8.25rem; }
.noodle li a span { top:1.15rem; width:1rem; }

.info { padding:0; background-size:auto 100%; background-position:bottom center;}
.info .box { position:static; left:auto; top:auto; transform:none; width:100%; height:auto; box-shadow:none; }
.info h2 { margin:0; font-size:1.65rem; line-height:1.5rem; }
.info h2 span:last-child { font-size:1rem; }
.store { float:none; padding:0 0 2.25rem; width:100%; height:100%; clear:both; }
.store:after { content:""; display:block; clear:both; }
.store h2 { padding:6.65rem 0 0; }
.store h2:after { margin:1.5rem 0 2.5rem; height:15px; }
.store strong { font-size:.7rem; line-height:1.1rem; }
.store address { font-size:.6rem; }
.store em { display:none; }
.store a { display:inline-block; padding:0 1rem; font-size:.8rem; color:rgba(213, 182, 147, .5); line-height:2.25rem; }
.store p { font-size:.6rem; line-height:.85rem; }
.store > div { width:50%; }
.store > div:nth-child(2) { float:left; } /* .store .inner > div:nth-child(2) 여기있는 좌우 배치되어있는 div를 가로사이즈 50%로 */
.store > div:nth-child(3) { float:right; } /* .store .inner > div:nth-child(2) 여기있는 좌우 배치되어있는 div를 가로사이즈 50%로 */
.store > div:last-child { padding:0; }
.store > div:last-child:after { display:none; }
.booking { float:none; padding:1.7rem 0 2rem; margin:3rem auto 3.5rem; width:80%; height:100%; background:#fff; }
.booking h2 { padding:0; }
.booking .table { margin:0 auto; width:100%; text-align:center; }
.booking .table p { padding:.65rem 0 0; width:70%; height:2.5rem; line-height:2.5rem; }
.booking .table p:nth-child(2),
.booking .table p:nth-child(3),
.booking .table p:nth-child(4),
.booking .table p:nth-child(5) { float:none; margin:.8rem auto 0; }
.booking .table p input { font-size:.65rem; }
.booking .table p label { bottom:1.25rem; font-size:.6rem; }
.booking .table p label span { bottom:-1.25rem; }
.booking .table p input:focus + label span,
.booking .table p input:valid + label span { color:#777; transform:translateY(-1.25rem); }
.booking .table p label:after { bottom:-1.35rem; }
.booking .table button { margin:2.5rem 0 0; width:10rem; height:2.5rem; border-radius:1.15rem; background:#d5b693; font-size:.8rem; }
