body { font-family:'Noto Sans KR', sans-serif; }

/* 헤더영역 */
header { position:absolute; left:50%; transform:translateX(-50%); z-index:100; width:1200px; }
header h1 { float:left; margin:46px 0 0; }
header nav { float:right; margin:46px -33px 0; }
header nav li { display:inline-block; margin:0 0 0 20px; }
header nav li a { display:block; padding:18px 33px; font:700 16px/1 arial, sans-serif; color:#fff; }
header button { display:none; }

/* 메인영역 */
.visual { overflow:hidden; position:relative; height:816px; background:url("../images/img_visual.jpg") no-repeat center / cover; }
.visual .deco1 { position:relative; z-index:90; margin:303px auto 0; width:749px; height:666px; }
.visual .deco1 img { position:absolute; height:auto; }
.visual .deco1 img:first-child { left:0; top:0; width:177px; }
.visual .deco1 img:last-child { right:0; bottom:0; width:243px; } /* .visual .deco1 img:last-child 이부분에 있는 이미지들 배치는 포지션으로 */
.visual .txt { position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); z-index:80; width:464px; height:482px; border:1px solid #fff; outline:3px solid #fff; outline-offset:7px; text-align:left; }
.visual .txt .inner { padding:55px 0 0 100px; }
.visual .txt span { display:inline-block; vertical-align:top; }
.visual .txt span:nth-child(1) { width:72px; font-size:95px; line-height:1; color:#fffde5; }
.visual .txt span:nth-child(2) { margin:0 10px 0 30px; width:52px; font-size:56px; line-height:1; color:#fffde5; }
.visual .txt span.small { margin:0 10px; width:25px; font-size:25px; line-height:1; color:#f8cb92; }
.visual .deco2 img { position:absolute; height:auto; }
.visual .deco2 img:nth-child(1) { left:-79px; bottom:-268px; width:674px; }
.visual .deco2 img:nth-child(2) { left:-208px; top:-73px; width:497px; }
.visual .deco2 img:nth-child(3) { right:200px; bottom:200px; width:323px; }
.visual .deco2 img:nth-child(4) { right:-105px; top:-309px; width:682px; }

.noodle { position:relative; background:linear-gradient(to right,  #0a1b18 0%,#092932 100%); text-align:center; letter-spacing:-0.75px; }
.noodle:after { content:""; position:absolute; left:50%; bottom:-149px; transform:translateX(-50%); z-index:80; width:908px; height:321px; background:url("../images/bg_noodle.png") no-repeat center; }
.noodle h2 { padding:250px 0 40px 0; background:url("../images/ico_noodle.png") no-repeat center 70px / 105px auto; font-size:48px; color:#fff; }
.noodle h2 span { color:#d17f60; }
.noodle p { font-size:14px; color:#e6e7e8; line-height:18px; }
.noodle ul { padding:50px 0 225px; }
.noodle li { display:inline-block; margin:0 30px; font-size:27px; }
.noodle li a { display:block; position:relative; width:72px; height:225px; background:url("../images/bg_polygon.png") no-repeat center / 100% auto; color:#d17f60; }
.noodle li a span { display:block; position:absolute; left:50%; top:33px; transform:translateX(-50%); width:27px; line-height:1; }

.info { position:relative; padding:220px 0 135px; background:url("../images/img_info.jpg") no-repeat center / cover; }
.info .box { margin:0 auto; width:1170px; text-align:center; letter-spacing:-0.1px; box-shadow:5px 5px 5px 0px rgba(0, 0, 0, 0.75); } /* box-shadow는 webkit안넣으셔도되요 */
.info h2 { margin:60px 0 0; font-size:33px; line-height:30px; }
.info h2 span:last-child { font-size:20px; }
.store { float:left; width:387px; height:545px; background:#201c1b; }
.store h2 { color:#d9d1ca; }
.store h2:after { content:""; display:block; margin:30px 0 20px; width:100%; height:15px; background:url("../images/bg_line1.png") no-repeat center; }
.store strong { font-size:14px; color:#fff; line-height:22px; }
.store address { color:rgba(255, 255, 255, .5); }
.store em { font-size:16px; color:rgba(213, 182, 147, .5); line-height:45px; }
.store a { display:none; }
.store p { color:rgba(167, 166, 166, .5); line-height:17px; }
.store > div:last-child { padding:24px 0 0; }
.store > div:last-child:after { content:""; display:block; margin:30px 0 0; width:100%; height:5px; background:url("../images/bg_line2.png") no-repeat center; }
.booking { float:right; width:782px; height:545px; background:#fff; }
.booking h2 { color:#422e1b; }
.booking .table { margin:40px auto 0; width:650px; }
.booking .table p { position:relative; width:279px; height:50px; border-bottom:2px solid #555; text-align:left; line-height:50px; }
.booking .table p:nth-child(2) {float:left; margin:33px 0 0 23px; background:url("../images/ico_name.png") no-repeat right 10px center; }
.booking .table p:nth-child(3) {float:right; margin:33px 23px 0 0; background:url("../images/ico_people.png") no-repeat right 10px center; }
.booking .table p:nth-child(4) {float:left; margin:33px 0 0 23px; background:url("../images/ico_date.png") no-repeat right 5px center; }
.booking .table p:nth-child(5) {float:right; margin:33px 23px 0 0; background:url("../images/ico_time.png") no-repeat right 10px center; }
.booking .table p input { width:80%; height:100%; font-size:13px; border:0 none; background:transparent; text-indent:2px; border-radius:0; outline:0; }
.booking .table p label { position:absolute; left:2px; bottom:25px; width:100%; height:100%; font-size:12px; color:#555; letter-spacing:-0.5px; pointer-events:none; }
.booking .table p input::-webkit-input-placeholder { opacity:0; color:#777; }
.booking .table p input:focus::-webkit-input-placeholder { opacity:1; }
.booking .table p label span { position:absolute; left:0; bottom:-25px; transition:all .2s ease; }
.booking .table p input:focus + label span,
.booking .table p input:valid + label span { color:#777; transform:translateY(-25px); }
.booking .table p label:after { content:""; position:absolute; left:-2px; 
  bottom:-27px; width:0; height:100%; border-bottom:2px solid #d5b693; transition:all .2s ease; }
.booking .table p input:focus + label:after,
.booking .table p input:valid + label:after { width:100%; }
.booking .table button { margin:75px 0 0; width:200px; height:50px; border-radius:23px; background:#d5b693; font-size:16px; font-weight:bold; color:#422e1b; }