.wrap { width: 100%; }
.wrapper { position:relative; padding:0 15px; margin:0 auto; max-width:1230px; }
.mobile { display:none; }

/* header */
header { position:fixed; left:0; right:0; top:0; z-index:100; height:99px; border-bottom:1px solid #ededed; }
header h1 { float:left; margin:31px 0 0 0; }
header h1 a { float:left; height:34px; background:url("../images/h1_logo.png") no-repeat center / 100% auto; }
header h1 a:first-child { width:140px; }
header h1 a:last-child { margin:0 0 0 28px; width:138px; background-image:url("../images/h1_logo_sub.png"); }
header h1 + div { float:right; margin:26px 0 0 0; }
header dl,
header dt,
header dd { float:left; }
header .screen_adjust { float:left; margin:5px 0 0 0; font-size:16px; font-weight:700; }
header .screen_adjust.col_bar:after { margin:0 10px 0 20px; height:35px; }
header .screen_adjust dt { margin:8px 5px 0 0; }
header .screen_adjust dd button { margin:0 0 0 4px; width:35px; height:35px; border:1px solid #dfdfdf; border-radius:100%; background:url("../images/ico_zoom.png") #fff no-repeat center / 12px auto; background-color:#fff; background-size:12px auto; }
header .screen_adjust dd:nth-child(3) button { background-image:url("../images/ico_reduction.png"); }
header .screen_adjust dd:nth-child(4) button { width:88px; border-radius:30px; background-image:none; font-size:15px; font-weight:700; color:#288bcc; }
header .woori_sns_news dd a { display:block; margin:0 0 0 10px; width:46px; height:46px;  background:url("../images/ico_news_facebook.png") no-repeat center / 100% auto; }
header .woori_sns_news dd:nth-child(3) a { background-image:url("../images/ico_news_naver.png"); }
header .woori_sns_news dd:nth-child(4) a { background-image:url("../images/ico_news_youtube.png"); }
header .woori_sns_news dd:nth-child(5) a { background-image:url("../images/ico_news_instargram.png"); }

/* gnb */
.gnb_bar { position:fixed; left:0; right:0; top:100px; z-index:100; height:59px; border-bottom:1px solid #ededed; }
.gnb_bar nav { float:left; }
.gnb_bar nav .list_type1 li { float:left; line-height:59px; }
.gnb_bar nav .list_type1 li.col_bar:after { margin:23px 0 0 0; height:12px; }
.gnb_bar nav .list_type1 li a { display:block; float:left; padding:0 40px; font-size:22px; font-weight:800; color:#333; transition:all .5s ease; }
@media (max-width:1120px) {.gnb_bar nav .list_type1 li a { padding:0 30px; } }
.gnb_bar nav .list_type1 li a:hover,
.gnb_bar nav .list_type1 li a:focus { color:#288bcc; }
.gnb_bar nav .list_type1 li.active a { color:#288bcc; }
.gnb_bar nav .sub { display:none; position:fixed; left:0; right:0; top:160px; bottom:0; z-index:100; background:rgba(0, 0, 0, .5); }
.gnb_bar nav .sub > div { padding:30px 0; width:100%; background:#fff; }
.gnb_bar nav .sub .list_type2 > li { float:left; }
.gnb_bar nav .sub .list_type2 > li:nth-child(1) { padding:0 0 0 30px; }
.gnb_bar nav .sub .list_type2 > li:nth-child(2) { padding:0 0 0 16px; }
.gnb_bar nav .sub .list_type2 > li:nth-child(3) { padding:0 0 0 93px; }
.gnb_bar nav .sub .list_type2 > li:nth-child(4) { padding:0 0 0 14px; }
.gnb_bar nav .sub .list_type2 > li:nth-child(5) { padding:0 0 0 37px; }
.gnb_bar nav .sub .list_type2 li a { display:block; padding:10px; font-size:17px; color:#666; transition:all .5s ease; }
.gnb_bar nav .sub .list_type2 li a:hover,
.gnb_bar nav .sub .list_type2 li a:focus { color:#288bcc; text-decoration:underline; }

/* login & join */
.gnb_bar .util { float:right; margin:8px 0 0; }
.gnb_bar .util dl,
.gnb_bar .util dd { float:left; }
.gnb_bar .util dd.col_bar:after { margin:16px 0 0; height:10px; }
.gnb_bar .util dd a { display:block; float:left; padding:12px; font-size:16px; color:#666; }
.gnb_bar .util dl + div { float:right; margin:0 0 0 7px; }
.gnb_bar .util dl + div > button { width:45px; height:45px; background:url("../images/ico_search_blue.png") no-repeat center / 26px auto; }

/* search */
.gnb_bar .util .search__form { display:none; position:fixed; left:0; right:0; top:160px; padding:40px 0 140px; width:100%; background:linear-gradient(to right, #288bcc 0%,#165fa2 100%); }
.gnb_bar .util .search__form ul { overflow:hidden; margin:0 30px; height:41px; }
.gnb_bar .util .search__form li { float:left; margin:0 2px; }
.gnb_bar .util .search__form li a { display:block; padding:10px 22px; border:1px solid rgba(255, 255, 255, .4); border-radius:5px; font-size:16px; color:#fff; }
.gnb_bar .util .search__form li a:hover,
.gnb_bar .util .search__form li a:focus { border-color:#55b9fe; background:#55b9fe; font-weight:800; }
.gnb_bar .util .search__form .controls button { position:absolute; top:10px; width:12px; height:18px; background:url("../images/ico_prev.png") no-repeat center / 100% auto; }
.gnb_bar .util .search__form .controls button:first-child { left:15px; }
.gnb_bar .util .search__form .controls button:last-child { right:15px; background-image:url("../images/ico_next.png"); }
.gnb_bar .util .search__form label + div { position:absolute; left:50%; top:60px; transform:translateX(-50%); width:460px; height:80px; border-bottom:1px solid rgba(255, 255, 255, .4); }
.gnb_bar .util .search__form input { float:left; width:90%; height:100%; border:0 none; background:transparent; font-size:23px; color:#fff; outline:none; }
.gnb_bar .util .search__form input::-webkit-input-placeholder { font-size:23px; color:rgba(255, 255, 255, .4)}
.gnb_bar .util .search__form input::-ms-clear,
.gnb_bar .util .search__form input::-ms-reveal { display:none; width:0; height:0; }
.gnb_bar .util .search__form input::-webkit-search-decoration,
.gnb_bar .util .search__form input::-webkit-search-cancel-button,
.gnb_bar .util .search__form input::-webkit-search-results-button,
.gnb_bar .util .search__form input::-webkit-search-results-decoration { display: none; }
.gnb_bar .util .search__form button[type="submit"] { float:right; width:10%; height:100%; background:url("../images/ico_search_white.png") no-repeat center / 40px auto; }

