html { font-size:20px; }
body { font-size:1rem; }

.layout { padding:0 .75rem; max-width:100%; }
.is_pc { display:none; }
.is_mobile { display:block; }

/* header */
header { height:2.5rem; }
h1 a { width:4.15rem; height:1rem; }
h1 a:last-child { margin-left:.75rem; width:4.1rem; }
/* mobile menu */
.mobile_menu__open { position:absolute; top:.3rem; right:0; width:2.05rem; height:1.8rem; background:url("../images/ico_menu.png") no-repeat center / 1.25rem auto; }
.mobile_menu--box { display:none; position:absolute; top:0; right:0; bottom:0; left:0; z-index:100; width:100%; height:100vh; background:rgba(0, 0, 0, .5); color:#333; }
.mobile_menu--box > div { position:absolute; right:0; top:0; bottom:0; width:80%; background:#fff;  }
.mobile_member { margin:2.5rem 0 0 0; padding:.75rem 0; font-size:.7rem; text-align:center; }
.mobile_member a { display:inline-block; padding:.4rem 0; width:48%; border:1px solid #a4a4a4; border-radius:.15rem; }
.mobile_gnb { border-top:1px solid #d9d9d9; }
.mobile_gnb > li { transition:.3s; }
.mobile_gnb > li > a { display:block; padding:.75rem 0; border-bottom:1px solid #d9d9d9; background:url("../images/ico_arr_off.png") no-repeat right center / .7rem; font-size:.95rem; font-weight:700; }
.mobile__sub--list2 { display:none; padding:.75rem .85rem; border-bottom:1px solid #d9d9d9; background:#f7f7f7; }
.mobile__sub--list2 li:nth-child(even) { margin:.75rem 0; }
.mobile__sub--list2 li a { display:block; font-size:.7rem; font-weight:400; }
.mobile_gnb > li.on > a { background-image:url("../images/ico_arr_on.png"); }
.mobile_sns_news { display:flex; margin:1rem 0 0 0; }
.mobile_sns_news dd:nth-child(n+1) { margin:0 0 0 .5rem; }
.mobile_sns_news dd a { display:block; width:1.65rem; height:1.65rem; background:url("../images/ico_news_facebook.png") no-repeat center / 100% auto; }
.mobile_sns_news dd:nth-child(3) a { background-image:url("../images/ico_news_naver.png"); }
.mobile_sns_news dd:nth-child(4) a { background-image:url("../images/ico_news_youtube.png"); }
.mobile_sns_news dd:nth-child(5) a { background-image:url("../images/ico_news_instargram.png"); }
.mobile_menu__close { position:absolute; left:0; right:0; top:0; height:2.5rem; background:#3f69b8; }
.mobile_menu__close button { position:absolute; right:0; top:0; width:2.5rem; height:2.5rem; background:url("../images/ico_close.png") no-repeat center / 1rem; }
/* //mobile menu */
.search { top:.3rem; right:2.2rem; }
.search__open { width:1.8rem; height:1.8rem; background-size:1rem auto; }
.search__form { display:none; top:2.5rem; padding:1rem 0; }
.search__keyword ul { margin:0 .85rem; height:1.6rem; }
.search__keyword a { display:block; padding:.4rem .5rem;border-radius:.25rem; font-size:.6rem; transition:0; }
.search__keyword a:hover,
.search__keyword a:focus { border-color:rgba(255, 255, 255, .4); background:transparent; font-weight:400; }
.search__keyword--controls button { top:0; width:1.1rem; height:1.6rem; background-position:left; background-size:.35rem .6rem; }
.search__keyword--controls button:first-child { left:.75rem; }
.search__keyword--controls button:last-child { right:.75rem; background-position:right; }
.search__form label + div { position:static; left:0; top:0; transform:none; width:100%; height:2.2rem; }
.search__form input { padding:0 0 0 .5rem; font-size:.7rem; }
.search__form input::-webkit-input-placeholder { font-size:.7rem; }
.search__form button[type="submit"] { float:right; width:10%; height:2.2rem; background-size:1rem auto; }
/* //header */
/* gnb */
.gnb { position:absolute; top:2.5rem; height:2rem; }
.gnb h2 + ul { font-size:.75rem; font-weight:400; }
.gnb h2 + ul li { position:relative; margin:0 1.5rem 0 0; }
.gnb h2 + ul li::after { display:none; }
.gnb h2 + ul a { display:block; padding:.55rem 0; transition:0; }
.gnb h2 + ul a:hover,
.gnb h2 + ul a:focus { color:#333; }
.gnb h2 + ul .active a { font-weight:700; color:#288bcc; }
.gnb h2 + ul .active a:after { content:""; position:absolute; left:0; right:0; bottom:-1px; height:2px; background:#3f69b8; }
/* //gnb */
/* main */
main { margin:4.5rem 0 0; } 
.location { padding:0 .75rem; margin:0 -0.75rem; font-size:.65rem; }
.location li:not(:last-child)::after { display:none; }
.location li a { margin:0 1.5rem 0 0; line-height:1.65rem; }
.share { position:static; padding:0 .75rem; margin:0 -0.75rem; height:2.3rem; border-bottom:1px solid #ededed; }
.share dt { font-size:.7rem; }
.share dd { display:flex; align-items:center; margin:0 0 0 .5rem; }
.share dd button { width:1.5rem; height:1.5rem; }
.contents--title { margin:1.5rem 0 .75rem; font-size:1.15rem; }
.tabs { position:relative; z-index:50; border-bottom:0 none; }
.tabs button { display:block; position:relative; padding:0 .75rem; width:100%; background:#3f69b8; text-align:left; font-size:0.7rem; font-weight:700; color:#fff; line-height:2rem; }
.tabs button::after { content:""; position:absolute; right:.75rem; top:50%; transform:translateY(-50%) rotate(0deg); width:.5rem; height:.25rem; background:url("../images/btn_cate_arrow01.png") no-repeat center / 100% auto; transition:0.2s; }
.tabs button.on::after { transform:translateY(-50%) rotate(180deg); }
.tabs ul { display:none; position:absolute; left:0; top:2rem; right:0; background:#fff; }
.tabs li { width:100%; font-size:.7rem; color:#333; }
.tabs li:not(:last-child) { margin:2px 0 2px 0; }
.tabs li a { display:flex; justify-content:flex-start; padding:0 0 0 .75rem; line-height:2rem; background:#f3f3f3; }
.tabs li.active a { font-weight:400; color:#333; background:#f3f3f3; }
.goods { padding:1rem .5rem; }
.goods p { font-size:.6rem; }
.goods p > strong { margin:0 .5rem 0 0; }
.goods p .ico { padding:.15rem .25rem; margin:0 .15rem 0 0; font-size:.5rem; }
.goods h4 { margin:.75rem 0 .65rem; font-size:.95rem; }
.goods h4 + p { margin:0 0 1rem; font-size:.7rem; }
.goods ul { margin:0 0 .9rem; font-size:.6rem; }
.goods li:not(:last-child)::after { margin:.2rem .35rem 0; height:.5rem; }
.goods--btn { display:flex; position:static; margin:0; height:1.5rem; text-align:center; }
.goods--btn a { margin:0 .15rem 0 0; width:3.5rem; border-radius:.25rem; font-size:.65rem; line-height:1.5rem; }
.goods--btn a:last-child { width:1.5rem; }
.goods--btn a:last-child::before { width:.7rem; height:.65rem; }
.paginate { padding:1rem 0; margin:0 -2px 0 0; }
.paginate a { margin:0 2px 0 0; width:1.25rem; height:1.25rem; font-size:.6rem; line-height:1.25rem; }
.paginate a.ico { background-size:auto .3rem; }
.paginate a.ico.prev { margin:0 .25rem 0 0; }
.paginate a.ico.next { margin:0 2px 0 .15rem; }
.costomer { padding:1rem 1rem; margin:1rem 0 0; }
.costomer h4 { float:none; font-size:.85rem; }
.costomer h4 + p { display:block; float:none; margin:.5rem 0 0 0; font-size:.6rem; }
.costomer__form { font-size:.65rem; line-height:1.6rem; }
.costomer__form input,
.costomer__form select,
.costomer__form textarea { height:1.6rem; border-radius:.25rem; font-size:.7rem; }
.costomer .box { flex-direction:column; margin:1rem 0 0; }
.costomer__number { flex-direction:column; margin:0; width:100%; }
.costomer__number label { flex:0 0 100%; margin:0 0 .3rem 0; text-align:left; line-height:1; }
.costomer__number label + div { display:flex; justify-content:space-between; width:100%; }
.costomer__number select,
.costomer__number input { padding:0 0 0 .5rem; width:30%; }
.costomer__number span { width:5%; }
.costomer__inquiry { display:flex; flex-direction:column; margin:.75rem 0 .5rem 0; width:100%; }
.costomer__inquiry label { flex:0 0 100%; margin:0 0 .3rem 0; line-height:1; }
.costomer__inquiry textarea { padding:.5rem; height:3rem; }
.costomer__inquiry textarea::placeholder { font-size:.7rem; letter-spacing:0; word-spacing:-1px; }
.costomer__clause { display:flex; justify-content:space-between; position:static; font-size:.65rem; }
.costomer__clause label { padding:0 0 0 1rem; }
.costomer__clause label:before { top:1px; width:.75rem; height:.65rem; }
.costomer__clause button { font-size:.6rem; }
.costomer__popup { padding:.75rem; width:calc(100% - 1.5rem);  border-radius:.5rem; }
.costomer__popup h2 { font-size:.75rem; padding:0 0 .5rem; }
.costomer__popup h2 + div { padding:.75rem; height:16.05rem; font-size:.7rem; line-height:.95rem; }
.costomer__popup h3 { margin:1rem 0 .4rem; font-size:.8rem; }
.costomer__popup p { margin:.35rem 0; }
.costomer__popup ol li { margin:0 0 0 .8rem; text-indent:-0.8rem; }
.costomer__popup table { margin:1rem 0; }
.costomer__popup table th { padding:.35rem 0; }
.costomer__popup table td { padding:.25rem; }
.costomer__popup .btn__close { position:absolute; right:.5rem; top:.5rem; width:1rem; height:1rem; background-size:.6rem auto; }
.costomer button[type="submit"] { margin:1.25rem 0 0; width:100%; height:1.6rem; border-radius:.25rem; font-size:.7rem; }
.costomer button[type="submit"] span { padding:0 1rem 0 0; background:url("../images/icon_arr.png") no-repeat  60px center / .8rem auto; }
/* //main */
/* footer */
footer { padding:1.25rem 0; }
.footer__top { display:flex; flex-direction:column; justify-content:normal; align-items:center; padding:0 0 .75rem; }
.footer__logo { margin:0; width:3.75rem; height:.95rem; }
.footer__util { margin:1rem 0; font-size:.65rem; }
.footer__util li { margin:0 .3rem; }
.footer__util li:not(:last-child)::after { display:none; }
.footer__tabs { font-size:.65rem; line-height:1.55rem; }
.footer__tabs button { padding:0 .6rem; width:8.5rem; height:1.55rem; font-size:.65rem; }
.footer__tabs button:after { top:.65rem; right:.3rem; width:.35rem; height:.2rem; }
.footer__tabs ul { top:1.55rem; height:4.65rem; }
.footer__tabs li a { padding:0 .6rem; }
.footer__bottom { flex-direction:column; justify-content:normal; align-items:center; padding:.75rem 0 0; }
.footer__bottom .sns_news { margin:1rem 0 0; }
.footer__bottom .sns_news dd { margin:0 .25rem; }
.footer__bottom .sns_news dd a { width:1.7rem; height:1.7rem; }

.footer__letter--open,
.footer__letter--close { right:.75rem; bottom:.75rem; width:3rem; height:3rem; font-size:.65rem; }
.footer__letter--popup { right:.75rem; bottom:4.25rem; width:calc(100% - 55px); box-shadow:0px .5rem 1.8rem rgba(0, 0, 0, .36); border-radius:.5rem; background-size:100% auto; }
.footer__letter--popup > div { padding:1rem .75rem 0; }
.footer__letter--popup > div h5 { font-size:.95rem; }
.footer__letter--popup > div h5 + p { font-size:.65rem; margin:.5rem 0 0; }
.letter__form div { flex-wrap:wrap; padding:2rem .75rem .5rem; }
.letter__form div > input,
.letter__form div > span,
.letter__form div > select { height:1.35rem; font-size:.65rem; line-height:1.35rem; }
.letter__form div > input { width:calc(50% - 0.5rem); padding:0 .5rem; }
.letter__form div > span { flex:0 0 1rem; text-align:center; }
.letter__form div > select { flex:0 0 100%; padding:0 0 0 .5rem; margin:2px 0 0; }
.letter__form p { font-size:.65rem; }
.letter__form p > label { padding:0 0 0 1.75rem; margin:0; }
.letter__form p > label:before { left:.75rem; top:0; width:.75rem; height:.65rem; }
.letter__form p > input[type="checkbox"] { position:absolute; left:0; top:0; width:0; height:0; margin:0; opacity:0; }
.letter__form p > button { display:block; margin:.25rem 0 0 2rem; font-size:.6rem; }
.letter__form button[type="submit"] { margin:1rem 0 0; height:1.9rem; font-size:.7rem; line-height:1.9rem; }
.footer__letter--close { background-size:.65rem auto; }

.footere__copy { font-size:.6rem; }
/* //footer */